.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
    border-bottom: 2px solid #dedede;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header__button {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 10px 35px 0px 0px;
    width: 150px;
    height: 40px;
    border: 2px solid #ffa502;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.header__button:hover {
    border: 2px solid #2f3542;
    background-color: #ffa502;
    color: #2f3542;
}